<?xml version="1.0" encoding="UTF-8"?>

<!--https://springframework.guru/using-logback-spring-boot/-->
<!--https://mkyong.com/logging/logback-xml-example/-->
<!--https://docs.spring.io/spring-boot/docs/current/reference/html/features.html#features.logging-->
<!--https://medium.com/@nikitashahu/logging-in-spring-boot-b685827ce702-->
<!--https://www.codingame.com/playgrounds/4497/configuring-logback-with-spring-boot-->

<!--        Log directory permissions-->
<!--        sudo mkdir -p /var/log/mosque-donation-->
<!--        sudo chmod -R 777 /var/log/mosque-donation  # Adjust permissions as needed-->

<configuration>

    <property name="LOGS" value="/var/log/mosque-donation" />

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%magenta(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %msg%n%throwable</Pattern>
        </layout>
    </appender>

    <!-- Rolling File Appender (Only for 'prod' profile) -->
    <springProfile name="prod">
        <appender name="RollingFile"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOGS}/mosque-donation-mod.log</file>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <Pattern>%d %p %C{1} [%t] %m%n</Pattern>
            </encoder>

            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOGS}/archived/mosque-donation-mod-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy
                        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>10MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
        </appender>

        <!-- Ensure root logger is configured -->
        <root level="info">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="Console"/>
        </root>

        <logger name="org.springframework" level="info" additivity="false">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="Console"/>
        </logger>
    </springProfile>

    <!-- Default Logging (for non-prod profiles) -->
    <springProfile name="!prod">
        <root level="info">
            <appender-ref ref="Console"/>
        </root>

        <logger name="org.springframework" level="info" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
    </springProfile>

</configuration>